{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block container %}
<input type="hidden" id="pagination" value="1" />
<input type="hidden" id="no-more-reply" value="false" />

<div class="container-fit">
  <div class="page-title">
    <div class="container">
			내가 작성한 대댓글
    </div>
  </div>
</div>

<div class="container">
	<div class="description-message">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		최근에 작성한 것부터 보여집니다
	</div>
</div>

<div class="container container-fit" id="user-wrote-reply-list">
	<div class="vertical-line"></div>
</div>

<div class="space"></div>

<div class="container text-center hidden" id="no-reply-at-all">
	<div class="space"></div>
	<img src="https://res.cloudinary.com/modupen/image/upload/v1440749449/flat%20ui%20icons/pencil.svg" />
	<div class="space"></div>
	<p>
		대댓글이 없습니다
	</p>
</div>

{# Virtual DOM for reply element #}
<div class="reply hidden" id="reply-dom-element" data-reply-id="">
	<a href="">
		<div class="head-section">
			<input type="hidden" class="created-at" value="" />
			<p>
				[이야기] <span class="story-title"></span>
			</p>
			<p>
				[작성 시간] <span class="time-past-text"></span>
			</p>
		</div>
		<div class="reply-context"></div>
		<div class="alert alert-danger text-center hidden" role="alert">
			삭제된 상태입니다
		</div>
	</a>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/replies/user_wrote.js' %}"></script>
{% endblock %}
