{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block container %}
<div class="container-fit">
	<div class="page-title">
		<div class="container">
			임시 비밀번호 발급 (1 / 2)
		</div>
	</div>
</div>

<div class="container">

	<div class="text-center">
		<img src="https://res.cloudinary.com/modupen/image/upload/v1440749449/flat%20ui%20icons/mail.svg" class="flat-icon" />
	</div>

	<form action="/user/password/forgot/send/" method="POST" id="send-email-form">
		
		<div class="description-message">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			가입할 때 등록한 메일 주소로 
			<br/>
			임시 비밀번호 발급을 위한 URL 을 보내드립니다
		</div>
		
		{% csrf_token %}
		
		<div class="input-group">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			</div>
			<input type="email" name="email" class="form-control" placeholder="가입할 때 등록한 메일 주소" value="{{ request.user.email }}" required />
		</div>
		
		<div class="alert alert-success text-center hidden" role="alert">
			<p>
				<strong><span id="email-address"></span> 으로 메일이 발송됐습니다</strong>
			</p>
			
			<div class="space"></div>
			
			<p>
				<strong>다음의 절차</strong>를 따라주세요
			</p>
			
			<div class="space"></div>
			
			<ul class="list-unstyled">
				<li>1. E-mail 을 열어서 링크를 클릭</li>
				<li>2. 임시 비밀번호를 발급받고 확인</li>
				<li>3. 비밀번호 새롭게 변경</li>
			</ul>
			
			<div class="space"></div>
			
			<p>
				링크는 <strong>1시간 동안만 유효</strong>합니다
			</p>
			
			<div class="space"></div>
			
			<p>
				<strong>메일이 오지 않을 경우 아래로 문의해주세요</strong>
				<br/>
				<strong>modupen@budafoo.com</strong>
			</p>
		</div>
		
		<div class="alert alert-danger text-center hidden" role="alert"></div>
		
		<button type="submit" class="btn btn-primary btn-block" id="send-email-btn" data-loading-text="메일 전송 중">
			임시 비밀번호 발급 받기
		</button>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/accounts/forgot_password.js' %}"></script>
{% endblock %}
