{% extends "base.html" %}

{% load i18n %}

{% block container %}
<div class="container-fit">
	<div class="page-title">
		<div class="container">
			임시 비밀번호 발급 (2 / 2)
		</div>
	</div>
</div>

<div class="container">

	<div class="text-center">
		<img src="https://res.cloudinary.com/modupen/image/upload/v1440749449/flat%20ui%20icons/shield.svg" class="flat-icon" />
	</div>

	{% if succeed %}
	<div class="alert alert-success text-center" role="alert">
		<p>
			<strong>오래 기다리셨죠?</strong>
			<br/>
			{% if request.user.is_authenticated %}
			<strong>{{ request.user.nickname }} 님의 임시 비밀번호가 발급됐습니다!</strong>
			{% else %}
			<strong>{{ user.nickname }} 님의 임시 비밀번호가 발급됐습니다!</strong>
			{% endif %}
		</p>
		
		<div class="space"></div>
		
		<p>
			<strong>{{ temporary_password }}</strong>
		</p>
		
		<div class="space"></div>
		
		<p>
			아래 버튼을 통해 비밀번호 변경 페이지로 이동하세요
		</p>
	</div>

	<a href="/user/password/">
		<button type="submit" class="btn btn-primary btn-block">
			비밀번호 변경하러 가기
		</button>
	</a>
	{% else %}
	<div class="alert alert-danger text-center" role="alert">
		<p>
			<strong>URL 유효시간이 지났습니다</strong>
			<br/>
			(유효시간 : 1시간)
			<br/>
		</p>
		
		<div class="space"></div>
		
		<p>
			아래 링크에서 다시 발급 받아주세요
		</p>
	</div>

	<a href="/user/password/forgot/">
		<button type="submit" class="btn btn-primary btn-block">
			임시 비밀번호 발급 페이지로 이동
		</button>
	</a>
	{% endif %}
</div>
{% endblock %}
