{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block container %}
<div class="container-fit">
	<div class="page-title">
		<div class="container">
			비밀번호 변경
		</div>
	</div>
</div>

<div class="container">

	<div class="text-center">
		<img src="https://res.cloudinary.com/modupen/image/upload/v1440749449/flat%20ui%20icons/shield.svg" class="flat-icon" />
	</div>

	<form action="/user/password/update/" method="POST" id="update-password-form">
		
		<div class="description-message">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			숫자 및 특수문자 혼용을 추천합니다
		</div>
		
		{% csrf_token %}
		
		<div class="input-group">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
			</div>
			<input type="password" name="password" class="form-control" placeholder="현재 비밀번호를 입력해주세요" required />
		</div>
		
		<div class="text-center">
			<a href="/user/password/forgot/">
				<span class="dotted-underline">비밀번호를 잊으셨나요?</span>
			</a>
		</div>
		
		<div class="input-group">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
			</div>
			<input type="password" name="password" class="form-control" placeholder="변경할 비밀번호를 입력해주세요" required />
		</div>
		
		<div class="alert alert-success text-center hidden" role="alert"></div>
		<div class="alert alert-danger text-center hidden" role="alert"></div>
		
		<button type="submit" class="btn btn-primary btn-block" id="update-password-btn" data-loading-text="변경 중">
			비밀번호 변경하기
		</button>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/accounts/update_user_password.js' %}"></script>
{% endblock %}
