Cheetah==2.4.4
Django==1.8.6
Fabric==1.10.1
Landscape-Client==14.12
MySQL-python==1.2.5
PAM==0.4.2
Pillow==2.9.0
PyYAML==3.10
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
amqp==1.4.7
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
billiard==3.3.0.21
celery==3.1.19
chardet==2.0.1
cloud-init==0.7.5
cloudinary==1.1.3
colorama==0.2.5
configobj==4.7.2
django-appconf==1.0.1
django-celery==3.1.17
django-compressor==1.5
django-debug-toolbar==1.3.0
django-redis==4.0.0
django-redis-sessions==0.5.0
django-redisboard==1.2.0
django-suit==0.2.13
django-websocket-redis==0.4.4
ecdsa==0.13.3
fexpect==0.2.post17
gevent==1.0.2
greenlet==0.4.9
html5lib==0.999
jsonpatch==1.3
jsonpointer==1.0
kombu==3.0.29
oauth==1.0.1
paramiko==1.15.2
pexpect==3.3
prettytable==0.7.2
psycopg2==2.4.5
pyOpenSSL==0.13
pycrypto==2.6.1
pycurl==7.19.3
pyinotify==0.9.4
pyserial==2.6
python-apt==0.9.3.5ubuntu1
python-debian==0.1.21-nmu2ubuntu2
python-firebase==1.2
pytz==2015.7
redis==2.10.3
requests==2.2.1
shortuuid==0.4.2
six==1.5.2
sqlparse==0.1.15
ssh-import-id==3.21
uWSGI==2.0.10
urllib3==1.7.1
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
