{% load custom_filter %}

<div class="container-fit" id="adsense">
	<div class="container">
		<div id="adsense-message">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			사이트 운영을 위한 광고입니다. 너그럽게 이해해주세요 :)
		</div>
		<div id="adsense-content">
			{% if 'DEVELOPMENT_MODE'|get_settings_variable == False %}
			<div class="visible-xs">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- modupen-mobile -->
				<ins class="adsbygoogle"
						 style="display:inline-block;width:320px;height:50px"
						 data-ad-client="ca-pub-3058014588807277"
						 data-ad-slot="6531722499"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			
			<div class="hidden-xs">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- modupen-desktop -->
				<ins class="adsbygoogle"
						 style="display:inline-block;width:728px;height:90px"
						 data-ad-client="ca-pub-3058014588807277"
						 data-ad-slot="8008455690"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			{% endif %}
		</div>
	</div>
</div>
