{% load i18n %}

<div class="modal fade" id="modal-first-visit" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<img src="https://res.cloudinary.com/modupen/image/upload/w_30/v1439686690/basic%20component/close_icon.png" class="close-modal" data-dismiss="modal" aria-label="Close" />
		
			<div class="modal-header">
				첫 방문을 환영합니다!
			</div>
					
			<div class="modal-body">
				<div>
					모두펜은 릴레이로 
					<div class="visible-xs"></div>
					이야기를 만드는 공간입니다
				</div>
				
				<img src="https://res.cloudinary.com/modupen/image/upload/v1440749449/flat%20ui%20icons/pencils.svg" class="flat-icon" />
				
				<div>
					<span id="service-numeric-data">
						<span id="total-number-of-users"></span>명이 만든 
						<span id="total-number-of-stories"></span>개의 이야기
					</span>
				</div>
				
				<div class="space"></div>
				
				<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
					모두펜 구경하기
				</button>
			</div>
		</div>
	</div>
</div>
