{% load i18n %}

{# Show if Browser is disable for JS #}
<noscript>
	<div>
		<b>Browser가 JavaScript를 지원하지 않고 있습니다.</b> 아래 메뉴얼대로 따라해주세요.
		<br/><br/>
		<b>Internet Explorer</b> : 도구 - 인터넷 옵션 - 보안 탭 - 사용자 지정 수준 - 스크립팅 - Active 스크립팅 - 사용 - 확인
		<br/>
		<b>Chrome</b> : 도구 - 설정 - 개인정보 - 콘텐츠 설정 - 자바스크립트 - 모든 사이트에서 자바스크립트 실행 허용 - 완료
		<br/>
		<b>Android</b> : 메뉴 - 설정 - 고급설정 - 자바스크립트 사용
		<br/>
		<b>FireFox</b> : 주소창에 "about:config" 입력 - 고급 기능 사용 동의 - javascript.enabled 더블 클릭
		<br/>
		<b>Safari Mobile</b> : 설정 - Safari - JavaScript 클릭
		<br/>
		<b>Safari Desktop</b> : 도구 - 기본 설정 - 보안 - JavaScript 활성화
		<br/>
	</div>
</noscript>
