<pre>
- MODUPEN(이하 “회사”라 함)가 제공하는 서비스는 고객님의 개인정보보호를 소중하게 생각하고, 고객님의 개인정보를 보호하기 위하여 항상 최선을 다해 노력하고 있습니다.

1. 총칙 
1) 개인정보란 생존하고 있는 개인에 관한 정보로서 당해 개인을 알아볼 수 있는 부호, 문자, 음성, 음향 및 영상 등의 정보(당해 정보만으로는 특정 개인을 알아볼 수 없는 경우에도 다른 정보와 용이하게 결합하여 알아볼 수 있는 것을 포함)를 말합니다.
2) 회사는 고객정보보호를 가장 소중하게 생각하며, 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 “정보통신망법”이라 함) 및 개인정보보호법을 비롯한 모든 개인정보보호 관련 법률규정을 준수하고 있습니다.
3) 회사는 본 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떤 용도와 방식으로 이용되고 있으며 개인정보를 효과적이고 적극적으로 보호하기 위해 회사가 노력하는 사항을 알려드립니다.
4) 회사는 본 개인정보취급방침을 회원가입 페이지 및 별도 페이지에서 공개함으로써 고객님께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.
5) 본 서비스의 개인정보취급방침은 관련 법률 및 관련 규정의 변경 또는 내부 운영 방침의 변경에 따라 변경될 수 있습니다. 개인정보취급방침이 변경될 경우 변경된 사항을 웹사이트를 통하여 공지함으로써 개정된 내용을 고객님께서 쉽게 알아보실 수 있도록 하고 있습니다.

2. 개인정보의 수집 항목 및 이용 목적 
1) 수집 항목 
가. 회사는 기본적인 서비스 제공을 위해 다음의 정보를 필수적으로 수집, 이용하고 있습니다.
 - 필수 항목 : 전자우편, 별명, 사용 언어
나. 서비스 이용 과정에서 다음과 같은 정보들이 조회, 생성되어 수집될 수 있습니다.
 - 사용자 : 최초 가입 일시, 최근 방문 일시, 기여한 이야기 수, 작성한 댓글 횟수, 작성한 대댓글 횟수, 추천/비추천 누계 

2) 이용목적 
1) 수집항목을 수집/이용하는 목적 기재
가. 서비스 이용에 따른 본인 확인 및 문제 발생시 연락을 취하기 위해 사용합니다.
나. 일반 고객들에게 서비스를 제공하기 위해 사용합니다. 당사는 이 컨텐츠를 이용해 새로운 서비스를 제공할 수 있습니다.
다. 실시간 통계값을 제공하기 위해 사용합니다.

3. 개인정보 수집에 대한 동의 
회사는 고객님께서 개인정보의 수집, 이용에 관한 내용에 대해 조회할 수 있는 절차를 마련하고 있으며, 고객님께서 「가입하기」 버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.

4. 개인정보의 수집 방법
회사는 웹사이트의 가입 절차, 상담/문의 절차, 인터넷 서비스 사용시 생성정보 수집 툴을 통한 방법(Cookie, Local storage) 등으로 개인 정보를 수집합니다.

5. 수집한 개인정보의 이용 및 제3자 제공
1) 회사는 고객님의 개인정보를 가입신청서, 서비스이용약관, 개인정보취급방침의 개인정보의 수집 및 이용목적에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업, 기관에 제공하지 않습니다. 단, 다음의 경우에는 주의를 기울여 개인정보를 이용 및 제공할 수 있습니다.
가. 제휴관계
보다 나은 서비스 제공을 위하여 고객님의 개인정보를 제휴사에게 제공하거나 또는 제휴사와 공유할 수 있습니다. 개인정보를 제공하거나 공유할 경우에는 사전에 고객님께 제휴사가 누구인지, 제공 또는 공유되는 개인정보항목이 무엇인지, 왜 그러한 개인정보가 제공되거나 공유되어야 하는지, 그리고 언제까지 어떻게 보호, 관리되는지에 대해 개별적으로 서면 또는 전자우편 등을 통해 고지하여 동의를 구하는 절차를 거치게 되며, 고객님께서 동의하지 않는 경우에는 제휴사에게 제공하거나 제휴사와 공유하지 않습니다. 제휴관계에 변화가 있거나 제휴관계가 종결될 때도 같은 절차에 의하여 고지하거나 동의를 구합니다.
나. 매각, 인수합병 등
영업의 전부 또는 일부를 양도하거나, 합병, 상속 등으로 서비스 제공자의 권리, 의무를 이전 승계하는 경우 개인정보보호 관련 고객님의 권리를 보장하기 위하여 반드시 그 사실을 고객님께 통지합니다.
2) 회사는 수집한 개인정보를 개인정보 수집 시 고객님께 고지하고 동의를 얻은 범위를 넘어 이용하거나 제3자에게 제공하지 않습니다. 다만, 고객님의 동의가 있거나 다음에 해당하는 경우에는 예외로 합니다.
가. 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적, 기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우 
나. 서비스 제공에 따른 요금정산을 위하여 필요한 경우 
다. 통신비밀보호법, 국세기본법, 정보통신망법, 개인정보보호법, 금융실명거래 및 비밀보장에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자기본법, 한국은행법, 형사소송법 등 다른 법률에 특별한 규정이 있는 경우. 단, '법률에 특별한 규정이 있는 경우'로 행정목적이나 수사목적으로 행정관청 또는 수사기관이 요구해 온 경우라도 무조건 고객님의 개인정보를 제공하지 않으며, 법률에 규정된 바에 따라 영장 또는 기관장의 직인이 날인된 서면에 의한 경우 등 적법한 절차에 따라 제공합니다.
라. 통계작성/학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우
3) 본 서비스 제공하는 서비스를 통해 거래가 성사된 경우, 쌍방 당사자간에 상품거래와 관련한 정보를 필요한 범위 내에서 쌍방당사자에게 제공합니다.

6. 개인정보 취급 업무의 위탁
1) 회사는 기본적인 서비스 제공, 보다 나은 서비스 제공, 고객편의 제공 등 원활한 업무 수행을 위하여 다음과 같이 개인정보 취급 업무를 외부 전문업체(또는 회사의 다른 서비스)에 위탁하여 운영하고 있습니다
약관
수탁자	수탁범위
Amazon Web Services	인프라 운영/관리
2) 회사는 위탁업무계약서 등을 통하여 개인정보보호 관련 법규의 준수, 개인정보에 관한 비밀유지, 제3자 제공에 대한 금지, 사고시의 책임 부담, 위탁기간, 처리 종료 후의 개인정보의 반환 또는 파기의무 등을 규정하고, 이를 준수하도록 관리하고 있습니다

7. 개인정보의 열람 및 정정
1) 고객님은 언제든지 등록되어 있는 고객님의 개인정보를 열람하거나 정정하실 수 있습니다. 개인정보 열람 및 정정을 하고자 할 경우에는 프로필 페이지를 통하거나, 개인정보관리책임자 및 담당자에게 전자우편으로 연락하시면 지체 없이 조치하겠습니다.
2) 고객님께서 개인정보의 오류에 대한 정정을 요청한 경우, 정정을 완료하기 전까지 당해 개인 정보를 이용 또는 제공하지 않습니다.
3) 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정하도록 조치하겠습니다.

8. 개인정보의 수집, 이용, 제공에 대한 동의 철회
1) 회사는 개인정보의 수집에 대한 동의철회(회원탈퇴)를 할 수 있도록 필요한 조치를 취합니다.

9. 개인정보의 보유 및 이용기간
1) 고객님의 개인정보는 본 서비스 고객님께 서비스를 제공하는 기간 동안에 보유 및 이용되고, 회원 탈퇴 시 수집된 개인의 정보가 열람 될 수 없도록 암호화하여 변경합니다. 고객님이 작성한 이야기, 댓글, 대댓글, 컨텐츠 신고 등의 데이터는 회원 탈퇴하더라도 유지됩니다.
2) 고객님의 개인정보는 고객님의 본 서비스 회원 탈퇴 이후에도 상법 및 ‘전자상거래 등에서의 소비자보호에 관한 법률(이하 ‘전자상거래법’이라 함), 전자금융거래법, 여신전문금융업법 국세기본법, 법인세법, 부가가치세법 등 등 관계법령에 따라 보존할 필요가 있는 경우에는 회사는 관계법령에서 정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 다음과 같습니다.
가. 개별적으로 고객님의 동의를 받은 경우에는 약속한 보유기간
나. 통신사실확인자료 제공 시 필요한 로그기록자료 등 : 3개월 (통신비밀보호법)
다. 표시/광고에 관한 기록 : 6개월 (전자상거래법)
라. 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래법)
마. 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래법)
바. 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래법)
사. 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)
3) 고객님의 동의를 받아 보유하고 있는 거래정보에 대해 고객님께서 열람을 요구하는 경우에는 지체없이 해당 정보를 열람/ 확인할 수 있도록 조치합니다.

10. 개인정보 파기 절차 및 방법
회사는 수집한 개인정보의 이용목적이 달성된 후에는 보관기간 및 이용기간에 따라 해당 정보를 지체 없이 파기합니다. 파기절차, 방법, 시점은 다음과 같습니다.
1) 파기절차 및 시점
고객님이 서비스 가입 등을 위해 기재한 개인정보는 서비스 해지 등 이용목적이 달성된 후 내부 방침 및 기타 관련 법령에 의한 정보보호 사유(위 개인정보의 보유 및 이용기간 참조)에 따른 보유기간이 경과한 후에 삭제되거나 파기합니다. 일반적으로 잔존하는 채권, 채무 관계가 없는 경우 본 서비스 회원가입 시 수집되어 전자적 파일형태로 관리하는 개인정보는 회원 탈퇴 시점에 바로 삭제 됩니다.
단, 고객응대 및 불법적 사용자에 대한 관련 수사기관 협조를 위하여 탈퇴 후 6개월간 회원 정보 데이터를 보관하며 6개월 이후에는 회원의 모든 데이터를 삭제합니다.
2) 파기방법
종이에 출력된 개인정보는 분쇄기로 분쇄 또는 소각하거나 화학약품 처리를 하여 용해하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.

11. 이용자의 권리와 의무
1) 회사는 고객님의 의견을 매우 소중하게 생각하며, 고객님은 의문사항으로부터 언제나 성실한 답변을 받을 권리가 있습니다.
2) 고객님의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 고객님께 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.
3) 고객님은 개인정보를 보호받을 권리와 함께 고객님 자신의 개인정보를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 고객님의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보를 훼손할 시에는 정보통신망법등에 의해 처벌받을 수 있습니다.

12. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 대한 사항
1) 회사는 서비스를 통하여 고객님의 로그인 유지를 위해 쿠키(cookie)를 설치/운용할 경우도 있습니다. 쿠키란 웹 서버가 웹 브라우저에 보내어 저장했다가 서버의 부가적인 요청이 있을 때 다시 서버로 보내주는 문자열 정보를 말합니다.
2) 회사는 쿠키를 고객님의 로그인 유지에만 사용합니다.
3) 고객님은 쿠키 설치에 대한 선택권을 가지고 있습니다. 웹 브라우저 상단의 “도구 > 인터넷옵션 > 개인정보 > 고급”에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있습니다. 단, 고객님께서 쿠키 설치를 거부하였을 경우 서비스 이용에 불편이 있거나, 서비스 제공에 어려움이 있을 수 있습니다.

13. 개인정보취급방침의 고지 또는 통지방법
1) 회사가 고객님이 동의한 범위를 넘어 고객님의 개인정보를 이용하거나 제3자에게 제공하기 위해 고객님의 추가적인 동의를 얻고자 하는 때에는 미리 고객님께 개별적으로 전자우편으로 보내거나, 웹사이트에 개재함으로써 해당사항을 통지하고 이에 대한 동의를 얻습니다.
2) 타인에게 고객님의 개인정보의 수집, 보관, 처리, 이용, 제공, 관리, 파기 등을 위탁하는 경우에는 웹사이트의 개인정보취급방침 등을 통하여 인터넷 웹사이트에 공개합니다.
3) 회사가 영업의 전부 또는 일부를 양도하거나 합병, 상속 등으로 그 권리, 의무를 이전하는 경우 서면, 전자우편 등을 통하여 고객님께 개별적으로 통지합니다. 다만, 서면, 전자우편 기타의 방법에 의한 통지는 과실 없이 고객님의 연락처를 알지 못하는 경우에는 인터넷 웹사이트에 30일 이전에 게시하고, 천재, 지변 그 밖에 정당한 사유로 위 웹사이트 게시가 곤란한 경우에는 2곳 이상의 일반일간신문(고객님의 대부분이 특정 지역에 거주하는 경우에는 그 지역을 보급구역으로 하는 일반일간신문으로 할 수 있습니다)에 1회 이상 공고하는 것으로 갈음합니다.

14. 개인정보보호를 위한 기술 및 관리적 대책
본 서비스에서는 고객님의 개인정보를 보호하기 위해 기술적 대책과 관리적 대책을 마련하고 있으며, 이를 적용하고 있습니다.
1) 기술적 대책
회사는 고객님의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.
가. 고객님의 개인정보는 비밀번호에 의해 보호되며 파일 및 전송데이터를 암호화되어 보호되고 있습니다.
나. 회사는 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL 또는 SET)를 채택하고 있습니다.
다. 회사는 해킹 등 외부침입에 대비하여 각 서버마다 침입차단시스템 및 취약점 분석시스템 등을 이용하여 보안에 만전을 기하고 있습니다.
2) 관리적 대책
가. 회사는 고객의 개인정보에 대한 접근 및 관리에 필요한 절차 등을 마련하여 소속 직원으로 하여금 이를 숙지하고 준수하도록 하고 있습니다.
나. 회사는 고객님의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다. 
- 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자
- 기타 업무상 개인정보의 취급이 불가피한 자
다. 회사는 고객님의 개인정보에 대한 접근 및 관리에 필요한 절차 등을 마련하여 소속 직원으로 하여금 이를 숙지하고 준수하도록 하고 있으며, 개인정보를 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보보호 의무 등에 관해 정기적인 사내 교육 및 외부 위탁교육을 실시하고 있습니다.
라. 개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확히 하고 있습니다.
마. 회사는 컴퓨터를 이용하여 고객님의 개인정보를 처리하는 경우 개인정보에 대한 접근권한을 가진 담당자를 지정하여 ID 및 비밀번호를 부여하고, 해당 비밀번호를 정기적으로 갱신하고 있습니다.
바. 회사는 신규직원 채용 시 정보보호서약서 또는 개인정보보호서약서에 서명함으로 직원에 의한 정보유출을 사전에 방지하고 개인정보취급방침에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하여 지속적으로 시행하고 있습니다.
. 회사는 직원 퇴직 시 비밀유지서약서에 서명함으로 회원의 개인정보를 취급하였던 자가 직무상 알게 된 개인정보를 훼손/ 침해 또는 누설하지 않도록 하고 있습니다.
사. 회사는 고객님 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 회원의 경우 개개인이 본인의 개인정보를 보호하기 위해서 자신의 ID 와 패스워드를 적절하게 관리하고 여기에 대한 책임을 져야 합니다. 또한, 다른 사람이 추측할 수 있는 쉬운 비밀번호는 사용을 피하시기를 권장하며, 정기적으로 비밀번호를 변경하시는 것이 바람직합니다.
아. 공동으로 사용하는 PC에서 저희 웹사이트를 접속하여 로그인 한 상태에서 다른 사이트로 이동하는 경우, 서비스 이용을 종료하는 경우에는 반드시 로그아웃 처리 후 해당 웹사이트를 종료하시기 바랍니다. 그렇지 않을 경우, 해당 브라우저를 통해 ID, 비밀번호 등 고객님의 정보가 타인에게 쉽게 유출될 위험이 있습니다.
자. 그 외 내부 관리자의 실수나 기술관리 상의 사고로 인해 개인정보의 상실, 유출, 변조, 훼손이 유발될 경우 회사는 지체 없이 고객님께 사실을 알리고 적절한 대책과 보상을 강구할 것입니다.

15. 의견수렴 및 불만 처리
1) 회사는 고객님과의 원활한 의사소통을 위해 별도의 VOC 페이지를 운영하고 있습니다. 또한 아래의 연락처로 문의하시면 언제든 성실한 답변을 받으실 수 있습니다.
가. 개인정보 관련 고객센터
- 이메일: modupen@budafoo.com
2) 전자우편을 이용한 상담은 접수 후 48시간 이내에 답변이 될 수 있도록 노력하겠습니다.
3) 기타 개인정보 침해에 관한 상담이 필요한 경우에는 한국정보보호진흥원 개인정보침해신고센터, 경찰청 사이버테러대응센터 등으로 문의하실 수 있습니다.
가. 개인정보침해신고센터
- 전화: 118
- URL: http://privacy.kisa.or.kr
나. 대검찰청 사이버범죄수사단
- 전화: 02-3480-3571
- 전자우편: cybercid@spo.go.kr
다. 경찰청 사이버테러대응센터
- 전화: 1566-0112
- URL: http://www.netan.go.kr 

16. 개인정보관리 책임자 및 담당자
1) 회사는 고객님의 개인정보보호를 매우 소중하게 생각하며, 고객님의 개인정보가 훼손, 침해 또는 누설되지 않도록 최선을 다하고 있습니다. 그러나 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임이 없습니다.
2) 고객님의 개인정보보호 관련 문의 시 고객센터에서 신속하고 성실하게 답변을 드리도록 하고 있습니다. 또한 고객님이 본 서비스의 개인정보보호 담당자와 연락을 원하실 경우 아래의 연락처로 연락을 주시면 개인정보 관련 문의사항에 대하여 신속하고 성실하게 답변해 드리겠습니다.
① 개인정보보호총괄책임자
- 성명 : 양욱진
- 이메일: modupen@budafoo.com

17. 고지의무
현 개인정보취급방침은 2015년 11월 1일에 제정되었으며 정부의 정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 경우에는 개정 최소 7일 전부터 웹사이트의 '공지'란을 통해 고지할 것입니다.

부칙 
(시행일)
본 약관은 2015년 11월 1일부터 시행합니다.
</pre>
