{% load i18n %}

<p>
	안녕하세요, {{ nickname }}님. 모두펜입니다.
</p>
<p>
	환영합니다! 모두펜은 릴레이로 이야기를 만드는 공간입니다.
</p>
<a href="https://modupen.com/user/email/verification/{{ secret_code }}/" target="_blank">
	https://modupen.com/user/email/verification/{{ secret_code }}/
</a>
<p>
	위 링크를 클릭하시면 <strong>메일 주소 인증</strong>을 하실 수 있습니다. 링크는 메일 발송 시점으로부터 24시간 동안 유효합니다. 
</p>
<p>
	메일 주소 인증을 하시면 다음과 같은 혜택을 누리실 수 있습니다.
</p>
<p>
	- Facebook 같은 소셜미디어 계정으로 로그인을 하게 될 경우, 기존 계정과 연결할 수 있습니다.
	<br/>
	- {{ nickname }}님이 참여한 이야기가 화제일 때 알려드립니다.
	<br/>
	- 재밌는 이야기를 주기적으로 추천 받을 수 있습니다.
</p>
<p>
	만약 이 메일 주소로 모두펜에 가입한 적 없다면, 링크를 클릭하지 마세요. 그리고 답장을 통해서 알려주세요.
</p>
<p>
	감사합니다. 오늘도 좋은 하루 되세요!
</p>
